.navigation
{
    background-color: rgba(0, 0, 255, 0.625);
    border-radius: 15px;
    color: white;
}

.body
{
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

.posts_container
{
    text-align: center;
    justify-content: center;
}

.post
{
    border-radius: 15px;
    width: 700px;
    margin-left: 380px;
    text-align: left;
    padding-top: 2px;
    animation-name: remove;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.like_button
{
    padding: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 5px;
}

.edit_button
{
    margin-left: 500px;
    margin-top: 1px;
}

.delete_button
{
    margin-left: 10px;
}

.user, .edit_button
{
    display: inline;
}

.number_of_likes, .like_button
{
    display: inline;
}

.profile_picture
{
    width: 300px;
}

.followers
{
    padding-left: 10px;
    padding-right: 10px;
}

#new_post
{
    height: 150px;
    margin-bottom: 30px;
}

.pages
{
    display: inline-block;
}

.white_link
{
    text-decoration: none;
    color: white;
}

.white_link:hover
{
    text-decoration: none;
    color: white;
}

.black_link
{
    text-decoration: none;
    color: black;
}

.black_link:hover
{
    text-decoration: none;
    color: black;
}

@keyframes remove {

    0% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin: 0px;
    }
}
