{% extends "auctions/layout.html" %}

{% block title %}
    Categories
{% endblock %}

{% block body %}
    <h2 class="header">Categories</h2><br><br>
    <div class="list_of_categories">
        <ol class="list-group list-group-numbered list_of_categories">
            {% for category, counter in categories.items %}
                <li class="list-group-item d-flex justify-content-between align-items-start category">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            {% if counter > 0 %}
                                <a class="link_black" href="{% url 'listings_in_category' category.pk %}">
                                    {{ category }}
                                </a>
                            {% else %}
                                {{ category }}
                            {% endif %}
                        </div>
                    </div>
                    <span class="badge rounded-pill counter">{{ counter }}</span>
                </li>
            {% empty %}
                <h4>No categories!</h4>
            {% endfor %}
        </ol><hr>
        <form action="{% url 'categories' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-secondary category_button">Add new category</button>
        </form>
    </div>
{% endblock %}