{% extends "auctions/layout.html" %}

{% block title %}
    Active Listings
{% endblock %}

{% block body %}
    <h2 class="header">Active Listings</h2><br><br>
    <div>
        {% for listing in listings %}
            <div class="card mb-3" style="max-width: 840px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ listing.cover }}" class="img-fluid rounded-start" alt="{{ listing }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="link_black" href="{% url 'listing_page' listing.pk %}">
                                    {{ listing }}
                                </a>
                            </h5><br>
                            <p class="card-text">Price ${{ listing.start_bid }}</p><br>
                            <p class="card-text">{{ listing.description }}</p><br>
                            <p class="card-text"><small class="text-body-secondary">Created {{ listing.created }}</small></p>
                        </div>
                    </div>
                </div>
            </div><br>
        {% empty %}
            <h4>No active listings now!</h4>
        {% endfor %}
    </div>
{% endblock %}